</div>
<footer id="colophon" class="site-footer"> 
		<div class="site-info container">
			<div id="social" class="social">
				<ul>
				<li><a href="http://fb.me/eggoez" class="social-icon facebook" title="Follow us on facebook"><i class="social_icon fa fa-facebook faa-vertical animated-hover"></i></a></li>
				<li><a href="http://twitter.com/eggoez" class="social-icon twitter" title="Follow us on twitter"><i class="social_icon fa fa-twitter faa-vertical animated-hover"></i></a></li>
				<li><a href="http://google.com/+gOeZegGo" class="social-icon googleplus" title="Follow us on googleplus"><i class="social_icon fa fa-googleplus faa-vertical animated-hover"></i></a></li>
				<!--<li><a href="http://www.youtube.com/user/eggoez" class="social-icon youtube" title="Follow us on youtube"><i class="social_icon fa fa-youtube faa-vertical animated-hover"></i></a></li>-->
				<li><a href="https://soundcloud.com/eggoez" class="social-icon soundcloud" title="Free listener soundcloud"><i class="social_icon fa fa-soundcloud faa-vertical animated-hover"></i></a></li>
				<li><a href="https://id.linkedin.com/in/eggoez" class="social-icon linkedin" title="Follow us on linkedin"><i class="social_icon fa fa-linkedin faa-vertical animated-hover"></i></a></li>
				<!--<li><a href="http://www.flickr.com/people/eggoez/" class="social-icon flickr" title="Follow us on flickr"><i class="social_icon fa fa-flickr faa-vertical animated-hover"></i></a></li>-->
				<li><a href="http://instagram.com/eggoez" class="social-icon instagram" title="Follow us on instagram"><i class="social_icon fa fa-instagram faa-vertical animated-hover"></i></a></li>
				<li><a href="https://github.com/eggoez" class="social-icon github" title="Follow us on github"><i class="social_icon fa fa-github faa-vertical animated-hover"></i></a></li>
				</ul>
			</div>
		</div>
		     <div class='scrolltop'>
		     	<div class='scroll icon'><i class="fa fa-4x fa-angle-up faa-bounce animated"></i></div>
		     </div>
		<h6 class="site-info text-center"><i class="fa fa-copyright"></i> 2016 ge<sup> g0eZ egGo</sup>. The Content-Type was text/html. Using the HTML parse, schema for HTML with SVG 1.1, MathML 3.0, RDFa 1.1, and ITS 2.0 support. Made with <i class="fa fa-heartbeat faa-pulse animated" style="color:#f66767"></i> and <i class="fa fa-coffee faa-tada animated faa-slow" style="color:#fff"></i> in Sampit, Indonesia.</h6>
	</footer>
