<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
				      <a class="navbar-brand faa-parent animated-hover" href="#">
						 <img alt="goez" src="/asset/imgs/goez-eggo18nwr4.png" class="faa-tada">
						</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							{% if page.url == '' %}
							<li class="active">
							 	{% else %}
							 <li>
							 {% endif %}
								<a href="/">Beranda</a></li>
							<li><a href="http://eggoez.com">Blog</a></li>
							<li><a href="http://eggoez.com/flatpress">FlatPress</a></li>
							<li><a href="/notes">Note's</a></li>
							<li><a href="/memo">Memo's</a></li>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle goez active" href="/tools">Tools<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/tools/cssc">CSS Compress</a></li>
										<li><a href="/tools/jsc">JS Compress</a></li>
										<li><a href="/tools/meme">Meme Maker</a></li>
											<li class="dropdown dropdown-submenu"><a href="/teks/" class="dropdown-toggle" data-toggle="dropdown">Text Converter</a>
												<ul class="dropdown-menu">
													<li><a href="/tools/teks/attl.shtml">Attl Text</a></li>
													<li><a href="/tools/teks/bbold.shtml">BigBold Text</a></li>
													<li><a href="/tools/teks/bullet.shtml">Bullet Text</a></li>
													<li><a href="/tools/teks/funt.shtml">Funt Text</a></li>
													<li><a href="/tools/teks/funy.shtml">Funy Text</a></li>
													<li><a href="/tools/teks/glif.shtml">Glift Text</a></li>
													<li><a href="/tools/teks/mirror.shtml">Mirror Text</a></li>
													<li><a href="/tools/teks/unik.shtml">Unik Text</a></li>
													<li><a href="/tools/teks/swirl.shtml">Swirl Text</a></li>
													<li><a href="/tools/teks/sym.shtml">Sym Text</a></li>
												</ul>
											</li>
										
									</ul>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="/project">Project<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="http://eggoez.com/flatpress">FlatPress</a></li>
										<li><a href="http://eggo.ga">Bot eggoez</a></li>
										<li><a href="https://github.com/eggoez/SimpleMemo">Simple Memo</a></li>
										<li><a href="/FreeBNC">FreeBNC</a></li>
									</ul>
							</li>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="/project">Download<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="http://eggoez.com/download/flatpress">FlatPress</a></li>
										<li><a href="http://eggoez.com/download/eggdrop">eggdrop goez</a></li>
										<li><a href="https://github.com/eggoez/SimpleMemo">Simple Memo</a></li>
										<li><a href="http://eggoez.com/download/ciutirc">ciutIRC</a></li>
										<li><a href="http://eggoez.com/download/mirc-scripts">mIRC Scripts</a></li>
										<li><a href="https://github.com/eggoez/sInfo">sInfo Tweak</a></li>
										<li><a href="http://eggoez.com/download/tcl">TCL</a></li>
									</ul>
							</li>
							 {% if page.url == '/about.xhtml' %}
							 <li class="active">
							 	{% else %}
							 <li>
							 {% endif %}
							<a href="/about">About</a></li>
									</ul>
					</div>
			</div>
		</div>
