<!DOCTYPE html>
<html lang="id">
  {% include head.html %}
  <body class="nduwur">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">

			<div class="container">
				<div class="navbar-header">
				      <a class="navbar-brand faa-parent animated-hover" href="/">
						{% include logo.html %}
						<!-- original <img alt="goez" src="/github-cdn/asset/imgs/goez-eggo18nwr4.png"> -->
						</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							{% if page.url == '/' %}
							<li class="active">
							 	{% else %}
							 <li>
							 {% endif %}
								<a href="/">Beranda</a></li>
							<li><a href="/blog">Blog's</a></li>
						<!--	<li><a href="http://eggoez.com/flatpress">FlatPress</a></li> -->
						<li class="active"><a href="/notes">Note's</a></li>
						<!--	<li><a href="/memo">Memo's</a></li> -->
							{% if page.url == '/tools/' %}<li class="active dropdown">{% else %}<li class="dropdown">{% endif %}
								<a data-toggle="dropdown" class="dropdown-toggle goez active" href="/tools">Tools<b class="caret"></b></a>
									<ul class="dropdown-menu">
										{% if page.url == '/tools/cssc/' %}<li class="active">{% else %}<li>{% endif %}<a href="/tools/cssc">CSS Compress</a></li>
										{% if page.url == '/tools/jsc/' %}<li class="active">{% else %}<li>{% endif %}<a href="/tools/jsc">JS Compress</a></li>
										{% if page.url == '/tools/meme/' %}<li class="active">{% else %}<li>{% endif %}<a href="/tools/meme">Meme Maker</a></li>
										{% if page.url == '/tools/base64/' %}<li class="active">{% else %}<li>{% endif %}<a href="/tools/base64">Images b64</a></li>
											<li class="dropdown dropdown-submenu"><a href="/teks/" class="dropdown-toggle" data-toggle="dropdown">Text Converter</a>
												<ul class="dropdown-menu">
													<li><a href="/tools/teks/attl">Attl Text</a></li>
													<li><a href="/tools/teks/bbold">BigBold Text</a></li>
													<li><a href="/tools/teks/bullet">Bullet Text</a></li>
													<li><a href="/tools/teks/funt">Funt Text</a></li>
													<li><a href="/tools/teks/funy">Funy Text</a></li>
													<li><a href="/tools/teks/glif">Glift Text</a></li>
													<li><a href="/tools/teks/mirror">Mirror Text</a></li>
													<li><a href="/tools/teks/unik">Unik Text</a></li>
													<li><a href="/tools/teks/swirl">Swirl Text</a></li>
													<li><a href="/tools/teks/sym">Sym Text</a></li>
												</ul>
											</li>
											{% if page.url == '/tools/jowo/' %}<li class="active">{% else %}<li>{% endif %}<a href="/tools/jowo">Kalender Jowo</a></li>
									</ul>
									
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="/project">Project<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="http://eggoez.com/flatpress">FlatPress</a></li>
										<li><a href="http://eg-goez.github.io">Bot eggoez</a></li>
										<li><a href="https://github.com/eggoez/SimpleMemo">Simple Memo</a></li>
									<!--	<li><a href="/FreeBNC">FreeBNC</a></li> -->
									</ul>
							</li>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="/project">Download<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/download/flatpress">FlatPress</a></li>
										<li><a href="/download/eggdrop">eggdrop goez</a></li>
										<li><a href="https://github.com/eggoez/SimpleMemo">Simple Memo</a></li>
										<li><a href="/download/ciutirc">ciutIRC</a></li>
										<li><a href="/download/mirc-scripts">mIRC Scripts</a></li>
										<li><a href="https://github.com/eggoez/sInfo">sInfo Tweak</a></li>
										<li><a href="/download/tcl">TCL</a></li>
									</ul>
							</li> 
							 {% if page.url == '/about/' %}
							 <li class="active">
							 	{% else %}
							 <li>
							 {% endif %}
							<a href="/about">About</a></li>
									</ul>
					</div>
			</div>
		</div>

   {% include header.html %}
<ul class="breadcrumb"><li class="breadcrumbs active"><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a rel="nofollow" href="{{ site.url }}" itemprop="url"><span itemprop="title">Beranda</span></a></span> / <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ site.url }}/notes"><span itemprop="title">Notes</span></a></span> / {{ page.title}}</li></ul>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="page-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
  <h7 class="post-meta text-muted text-small"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Written by goez at </span></span><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %B %Y" }}.</h7>
  <hr />
  
    {% include footer.html %}
    {% include akhir.html %}
  </body>
</html>