---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="page-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
  <p class="post-meta text-muted text-small"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}  •  by<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">goez</span></span></p>
  <hr />
