<!DOCTYPE html>
<html lang="id">
  {% include head.html %}
  <body class="nduwur">
  {% include navbar.html %}
   {% include header.html %}
   <ul class="breadcrumb"><li class="breadcrumbs active"><span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a rel="nofollow" href="{{ site.url }}" itemprop="url"><span itemprop="title">Beranda</span></a></span> / <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ site.url }}/tools"><span itemprop="title">Tools</span></a></span> / {{ page.title}}</li></ul>
   <div class="page-header post">
    <h2 class="post-title">{{ page.title }}</h2>
  </div>
        {{ content }}
    {% include footer.html %}
    {% include jsnya.html %}
    {% include akhir.html %}
  </body>
</html>
